{%extends "deal/base.html"%}
{%block title%}
{%for one in about%}
{{one.sitetitle}}
{%endfor%}
{%endblock%}

{%block brand%}
{%for one in about%}
{{one.brand}}
{%endfor%}
{%endblock%}

{%block lnavabout%}class="active"{%endblock%}
{%block navabout%}href="#"{%endblock%}

{%block content%}
	{%for one in about%}
<div class="w3-section w3-container w3-center w3-card-12">
	<h1>{{one.title}}</h1>
</div>
<div class="w3-section w3-container w3-center w3-card-12">
	{%autoescape off%}
	<p>
	{{one.desc}}
	</p>
	{%endautoescape%}
</div>
	{%endfor%}
{%endblock%}
