{% load staticfiles %}
<!DOCTYPE html>
<html>
<title>{%block title%}YTL{%endblock%}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
{%if colorcss %}
<link rel="stylesheet" type="text/css" href="{% static colorcss %}"/>
{%endif%}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'django_ajax/js/jquery.ajax.min.js' %}"></script>
<script src="{% static 'deal/script.js' %}"/></script>
<body {%block loadbody%}{%endblock%}>

<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" id="dealtheme">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
			<a class="navbar-brand" href="#">{%block brand %}YTL{%endblock%}</a>
    </div>
		<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
			<li {%block lnavhome%}{%endblock%}><a {%block navhome%}href="{% url 'deal:home' %}"{%endblock%}>精品推薦</a></li>
			<li {%block lnavmenu%}{%endblock%}><a {%block navmenu%}href="{% url 'deal:menu'%}"{%endblock%}>菜單</a></li>
			<li {%block lnavabout%}{%endblock%}><a {%block navabout%}href="{% url 'deal:about'%}"{%endblock%}>關於我們</a></li>
			<li {%block lnavcontact%}{%endblock%}><a {%block navcontact%}href="{% url 'deal:contact' %}"{%endblock%}>聯繫我們</a></li>
    </ul>
		<ul class="nav navbar-nav navbar-right">
		<li id="showcart"><a data-toggle="modal" data-target="#cartview"><span style="padding-right:5px;" class="fa fa-shopping-cart fa-lg"></span>
		<span id="ncart" class="badge">0</span></a></li>
		</ul>
		</div>
  </div>
</nav>

<div class="modal fade" id="cartview" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal">&times;</button>
<h4 class="modal-title">訂餐車</h4>
</div>

<div class="modal-body", id="cartt">
</div>

<div class="modal-footer">
<h4>總計: <span id="total"></span></h4>
<button type="button" class="btn btn-default" onclick="SubmitOrder('{% url 'deal:submit'%}')">下單</button>
<button type="button" class="btn btn-default" onclick="EmptyCart()">清空</button>
<button type="button" class="btn btn-default" data-dismiss="modal">關閉</button>
</div>
</div>

</div>
</div>

<div id = "window" class="container" style="max-width:1100px;margin-top:80px;margin-bottom:80px">
{%block content%}
{%endblock%}
</div>

</body>
</html>
