{%extends "deal/base.html"%}

{%block lnavcontact%}class="active"{%endblock%}
{%block navcontact%}href="#"{%endblock%}

{%block title%}
{%for one in theme%}
{{one.sitetitle}}
{%endfor%}
{%endblock%}

{%block brand%}
{%for one in theme%}
{{one.brand}}
{%endfor%}
{%endblock%}

{%block content%}
{%for one in theme%}
<div id="qr" class="w3-section w3-container w3-center"
	onclick="this.style.display='none';document.getElementById('wechat').style.cursor='zoom-in';
	document.getElementById('cname').style.display='block';">
	<img class="w3-card-12 w3-center" src="{{one.wechatqr.url}}"
	style="width:100%;cursor:zoom-out" alt="{{one.wechat}}"/>
</div>
<h1 id="cname" class="w3-center" style="display:'none';">{{one.name}}</h1>
<div class="w3-section w3-container">
	<ul class="w3-ul w3-card-12">
	  <li id="wechat" class="w3-padding-16"
			onclick="this.style.cursor='auto';document.getElementById('qr').style.display='block';
			document.getElementById('cname').style.display='none';">
			<span class="fa fa-wechat" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.wechat}}</span>
		</li>
	  <li class="w3-padding-16">
			<span class="glyphicon glyphicon-phone" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.tel}}</span>
		</li>
	  <li class="w3-padding-16">
			<span class="glyphicon glyphicon-envelope" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.email}}</span>
		</li>
	  <li class="w3-padding-16">
			<span class="fa fa-weibo" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.weibo}}</span>
		</li>
	  <li class="w3-padding-16">
			<span class="fa fa-facebook" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.facebook}}</span>
		</li>
	  <li class="w3-padding-16">
			<span class="fa fa-twitter" style="font-size:48px;"></span>
			<span style="font-size:48px;float:right;">{{one.twitter}}</span>
		</li>
	</ul>
</div>
{%endfor%}
{%endblock%}

{%block loadbody%}
onload="PageSetup()"
{%endblock%}
