{%extends "deal/base.html"%}
{%block title%}水餃皇后{%endblock%}

{%block content%}

<form action="GET">
	<label for="catalog">排序:</label>
	<select name="sort" id="sort" onchange="ShowSortOptions('{% url 'deal:meallist' %}')">
		<option value="plh">價格: 由低到高</option>
		<option value="phl">價格: 由高到低</option>
	</select>

	<label for="catalog">類別:</label>
	<select name="catalog" id="catalog" onchange="ShowSortOptions('{% url 'deal:meallist' %}')">
		{% for ent in catalog %}
		<option value={{ent.id}}>{{ent.name}}</option>
		{% endfor %}
		<option value=-1 selected>全部分類</option>
	</select>

</form>
<br/>
<div id="txtHint">Meal info will be listed here...</div>

{%endblock%}
